@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Custom css */
.tab-content .active {
  display: flex !important;
  flex-wrap: wrap-reverse;
}

.react-datepicker-wrapper {
  display: block !important;
}

.skillBadge {
  font-size: 0.85rem !important;
  font-weight: 100;
}

.dropdown-toggle {
  background-color: transparent !important;
  border-color: transparent !important;
  border: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}