.cardLink {
  color: white;
}

.cardLink:hover {
  color: white;
}

.cardTitleX1 {
  font-size: 1.5rem !important;
  word-wrap: normal;
}

.cardTitleX2 {
  font-size: 2.5rem !important;
  word-wrap: normal;
}

.requestActionButton {
  padding: 5px;
  margin: 5px;
}
